@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}

.prevent-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.touch-none {
  touch-action: none;
  -webkit-touch-callout: none;
} 