@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}

.prevent-drag {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-drag: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-modify: read-only !important;
}

.touch-none {
  touch-action: none !important;
  -webkit-touch-callout: none !important;
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
} 